snippet "ima|irma|model_access|access" "ir.model.access CSV snippet" br
id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
access_`!p snip.rv = '_'.join((t[1], t[3].replace('group_', '', 1)))`,`!p snip.rv = ' '.join(map(str.title, (t[1] + '_' + t[3].replace('group_', '', 1)).split('_')))`,model_${1},${2:module}.${3:group},${4:0},${5:0},${6:0},${7:0}$0
endsnippet